html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $bgPrimary;
  font-family: $textFont;
  color: $textColor;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $titleFont;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  margin-bottom: 25px;
}

section {
  padding: 1rem 3rem;
}

img {
  display: block;
  object-fit: cover;
}

a {
  border-bottom: 2.5px solid $textColor;
  padding-bottom: 2px;
}

* {
  box-sizing: border-box;
}
