@font-face {
  font-family: "josefin_slabbold";
  src: url("../../public/fonts/josefinslab-bold-webfont.woff2") format("woff2"),
    url("../../public/fonts/josefinslab-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_slabitalic";
  src: url("../../public/fonts/josefinslab-italic-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/josefinslab-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_slablight";
  src: url("../../public/fonts/josefinslab-light-webfont.woff2") format("woff2"),
    url("../../public/fonts/josefinslab-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin slab";
  src: url("../../public/fonts/josefinslab-regular-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/josefinslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin slab semibold";
  src: url("../../public/fonts/josefinslab-semibold-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/josefinslab-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "maven_probold";
  src: url("../../public/fonts/mavenpro-bold-webfont.woff2") format("woff2"),
    url("../../public/fonts/mavenpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "maven_promedium";
  src: url("../../public/fonts/mavenpro-medium-webfont.woff2") format("woff2"),
    url("../../public/fonts/mavenpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "maven pro";
  src: url("../../public/fonts/mavenpro-regular-webfont.woff2") format("woff2"),
    url("../../public/fonts/mavenpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
