.hero {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 6rem;
    line-height: 0;
  }

  &__info {
    max-width: 200px;
  }

  &__featured {
    display: flex;
    column-gap: 50px;
  }
}

.articles__title {
  font-size: 3.5rem;
  line-height: 0;
  text-align: end;
}
