.hero {
  margin-bottom: 50px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 6rem;
  }

  &__info {
    max-width: 200px;
  }

  &__featured {
    display: flex;
  }
}

.articles {
  &__top {
    display: flex;
    justify-content: space-between;

    .articles__title {
      align-self: flex-end;
      font-size: 3.5rem;
      text-align: end;
    }
  }
}
