.featured-post {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 50px;

  &__banner {
    width: 100%;
    max-width: 500px;
    height: 400px;
  }

  &__info {
    align-self: flex-end;

    .featured-post__label {
      text-transform: uppercase;
      font-weight: 600;
    }

    .featured-post__title {
      font-size: 4rem;
      margin: 0;

      span {
        &:last-child {
          display: block;
        }
      }
    }
  }
}

.post {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 300px;

  &:not(:nth-child(4), :nth-child(8), :last-child) {
    border-right: 2px solid $borderColor;
    padding-right: 17.5px;
  }
  height: fit-content;

  &__banner {
    width: 100%;
  }
}
