.featured-post {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 50px;

  &__banner {
    width: 100%;
    max-width: 500px;
    height: 400px;
  }

  &__info {
    align-self: flex-end;

    .featured-post__label {
      text-transform: uppercase;
      font-weight: 600;
    }

    .featured-post__title {
      font-size: 4rem;
      margin: 0;

      span {
        &:last-child {
          display: block;
        }
      }
    }
  }
}
